<%= render 'post', post: @post %>
<% if current_user.id == @post.user.id %>
  <div class='text-center edit-links'>
    <%= link_to "Cancel", posts_path %> |
    <%= link_to "Edit", edit_post_path(@post) %> 
  </div>
<% else %>
  <div class='text-center edit-links'>
    <%= link_to "Cancel", posts_path %>
  </div>
<% end %>
